//Variables
@import 'variables/functions';
@import 'variables/variables';

//Vendors
@import 'vendors/formstack';
@import 'vendors/tinymce';
@import 'vendors/flickity';

//Core
@import 'core/general';
@import 'core/header';
@import 'core/nav';
@import 'core/mobile_nav';
@import 'core/pageheading';
@import 'core/footer';
@import 'core/layouts';

//Components
@import 'components/sidebar';
@import 'components/section_heading';
@import 'components/search';
@import 'components/contact';
@import 'components/social-icons';
@import 'components/buttons';
@import 'components/carousel';
@import 'components/slick-arrows';
@import 'components/slick-dots';
@import 'components/features';
@import 'components/blog';
@import 'components/blog_bar';
@import 'components/posts';
@import 'components/post-meta';
@import 'components/tags';
@import 'components/instagram';
@import 'components/introduction';

@import 'components/alternating_rows';
@import 'components/slideshow';
@import 'components/table';
@import 'components/gallery';
@import 'components/single_image';
