.layout {
    width: 100%;

    &.layout_sidebar,
    &.layout_two_columns,
    &.layout_full {
        display: flex;
        flex-flow: row wrap;
    }

    &.layout_sidebar {
        justify-content: space-between;
        max-width: $container-width;
        margin: 0 auto;

        .col_1 {
            flex: 1;
            max-width: 800px;
        }

        .col_2 {
            width: 300px;
            margin-left: 3em;

            section {
                background: #fff;
            }
        }

        @media (max-width: 900px) {
            .col_1 {
                max-width: 100%;
            }
            .col_2 {
                width: 100%;
                margin-left: 0;

                section {
                    background: none;
                }
            }
        }
    }

    &.layout_two_columns {
        max-width: $container-width;
        margin: 0 auto;

        .col {
            width: calc(50% - 1.5em);

            &.col_1 {
                margin-right: 1.5em;
            }
            &.col_2 {
                margin-left: 1.5em;
            }

            @media (max-width: 768px) {
                width: 100%;

                &.col_1 {
                    margin-right: 0;

                    section:last-of-type {
                        margin-bottom: 0;
                    }
                }

                &.col_2 {
                    margin-left: 0;
                }
            }
        }
    }

    &.layout_full {
        .container {
            max-width: 100%;
            padding: 0
        }
    }

    & + & {
        margin-top: 3em;
    }

}
