.mobile_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: 250ms ease;

    .container {
        padding: 0;
        height: 100%;
        background: #f1f2f3;
    }

    .mobile_nav_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.75);
        z-index: -1;
    }

    .mobile-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        min-height: 5em;
        margin-bottom: 1px;

        a,
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 100%;
            color: $color-0;
            font-size: 2rem;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-decoration: none;
        }
    }

    ul {
        overflow: unset;
        overflow-y: auto;
        height: 100%;
        max-height: 80vh;
        margin: 0;
        padding: 0;
        line-height: 1;
        list-style: none;

        &.top {
            background: $color-grey-1;
            padding-bottom: 5em;

            > li > a {
                background: #fff;
            }
        }

    }

    li {
        position: relative;
        display: block;
        margin-bottom: 1px;

        a {
            display: block;
            padding: 1.25em;
            color: inherit;
            text-decoration: none;
            outline: none;
            transition: all 0.2s ease 0s;
        }
    }

    .trigger {
        display: flex;
        flex-flow: row wrap;
        background: #fff;

        a {
            position: relative;
            width: calc(100% - 56px);
        }

        button {
            width: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            font-size: 1rem;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .drop {
            width: 100%;
            height: 100%;
            max-height: 0;
            overflow: hidden;
            z-index: 9999;
            position: relative;
            background: rgba(0,0,0,.025);
            transition: max-height 0.15s ease-in-out;
        }
    }

    .drop {
        background: $color-grey-1;
        border-left: 0.5em solid $color-1;

        li {

            &:not(:last-of-type) {
                border-bottom: 1px solid #fff;
            }

            a {
                width: 100%;
            }
        }
    }

    .mobile_closer {
        opacity: 0;
        z-index: -1;

        &:hover,
        &:focus {
            opacity: 1;
            z-index: 1;
        }
    }

}

/* Nav open */
body.menu-open {
    overflow: hidden;
}

body.menu-open .mobile_nav {
    opacity: 1;
    z-index: 9999;
}
