.nav {
    text-align: center;
    user-select: none;
    z-index: 10;

    ul {
        overflow: unset;
        padding: 0;

        ul {
            border-radius: 0.25em;
            padding: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            top: -9999px;
            background: #fff;
            white-space: nowrap;
            min-width: 200px;
            box-shadow: $box-shadow-2;
            text-align: left;
            transition: opacity 0.35s;
            overflow: hidden;

            a {
                @include fs(13px);
                padding: 10px;
                margin: 0;

                &:hover,
                &:focus {
                    background: $color-grey-2;
                }
            }
        }
    }

    > ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        > li {
            margin: 0 0 0 32px;
        }

        li:last-child ul {
            left: auto;
            right: 0;
            text-align: right;
        }
    }

    li {
        position: relative;
        display: block;

        &.open {

            a {
                color: $color-1;
            }

            ul {
                top: calc(100% + 4px);
                opacity: 1;
                z-index: 10;
            }
        }
    }

    a {
        @include fs(16px);
        display: block;
        color: $color-0;
        text-decoration: none;
        transition: $transition-1;

        &:hover,
        &:focus {
            color: $color-1;
        }

        i {
            @include fs(12px);
            cursor: pointer;
            margin: 0 0 0 6px;
        }
    }

    @media (max-width: 900px) {
        display: none;
    }
}
