.nav {
    text-align: center;
    user-select: none;
    z-index: 10;

    @media (max-width: 968px) {
        width: 100%;
        margin-top: 2em;
    }

    ul {
        overflow: visible;
        padding: 0;

        @media (max-width: 968px) {
            justify-content: center;
        }

        ul {
            border-top: 4px solid $color-3;
            padding: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            top: -9999px;
            background: $color-3;
            white-space: nowrap;
            min-width: 200px;
            max-width: 100vw;
            box-shadow: $box-shadow-1;
            text-align: left;
            transition: opacity 0.35s;
            overflow: hidden;

            &.column-nav {
                column-count: 2;
            }

            a {
                @include fs(16px);
                padding: 1em;
                margin: 0;
                font-family: $font-0;
                font-weight: 600;

                &:not(.button) {
                    color: $color-0;
                }

                &:hover,
                &:focus {
                    background: $color-grey-2;
                }
            }
        }
    }

    > ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        > li {
            margin: 0 0 0 2em;

            > a {
                text-transform: uppercase;
            }
        }

        &.utility {
            > li {
                margin: 0 0 0 0.75em;
            }
        }

        li:last-child ul {
            left: auto;
            right: 0;
            text-align: right;
        }
    }

    li {
        position: relative;
        display: block;

        &.trigger {
            margin: 0 -0.5em 0 1.5em;

            > a {
                padding: 0.5em;

                &:hover,
                &:focus {
                    color: $color-0;
                }
            }
        }

        &.open {
            > a {
                color: $color-0;
                background: $color-3;
            }

            ul {
                top: calc(100% - 4px);
                opacity: 1;
                z-index: 10;
            }
        }
    }

    a:not(.button) {
        display: block;
        color: $color-0;

        &:hover,
        &:focus {
            color: $color-1;
        }

        i {
            @include fs(16px);
            cursor: pointer;
            margin: 0 0 0 6px;
            transform: translateY(-3px);
        }
    }

    a {
        @include fs(30px);
        text-decoration: none;
        transition: $transition-1;
        font-family: $font-1;
        line-height: 1;
    }

    a.button {
        font-size: 1.5rem;

        @media (max-width: 968px) {
            margin-top: 0.25em;
        }
    }

    .utility {
        justify-content: flex-end;
        margin-bottom: 1.5em;

        li {
        }
    }
}
