.accordion {

    .container {

    }

    .group {

    }

    .accordion-title {
        appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        background: none;
        border: none;
        outline: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;

        @include fluid('font-size', 1.25rem, 1.75rem);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1em 0;
        cursor: pointer;
        text-align: left;
        line-height: 1.2;
        font-weight: 600;
        border-top: 1px solid rgba(0,0,0,0.1);
        transition: $transition-1;

        &.open {
            color: $color-1;

            i {
                transform: rotateZ(225deg);
                opacity: 1;
            }

            + .accordion-panel {

            }
        }

        i {
            margin-left: 1.5em;
            opacity: 0.5;
            transition: transform $transition-1;
        }
    }

    .accordion-panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height $transition-1;

        > *:last-of-type {
            margin-bottom: 1em;
        }
    }
}
