.alt_rows {

    .container {
    }

    .group {
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        margin: 0 auto 4em;
        
        &:last-of-type{
            margin:0 auto;
        }

        &:nth-of-type(even) {

            .text {
                margin-left: 0;
                margin-right: 2em;
                order: -1;
            }
            
            .image {

                &:after {
                    left:auto;
                    right: -2em;
                }
            }
        }

        .image {
            min-width: 275px;
            width: 30vw;
            position: relative;

            img {
                width: 100%;
            }
            &:after {
                content: '';
                display: block;
                width: 80%;
                height: 80%;
                background: #f3f3f3;
                position: absolute;
                bottom: -3em;
                left: -2em;
                z-index: -1;
            }
        }

        .text {
            flex: 1;
            margin-left: 2em;
            padding: 1em;
            position: relative;
        }

        @media (max-width: 900px) {
            display: block;

            .image {
                width: 100%;
                
                &:after {
                    content: '';
                    display: none;
                }
            }

            .text {
                margin-left: 0 !important;
                margin-right: 0 !important;
                padding: 1em 0;
            }
        }
    }
}
