.alt_rows {

    .container {
    }

    .group {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        margin: 0 -2em 3em;

        > * {
            padding: 1em;
        }

        &:nth-of-type(even) {

            .description {
                order: -1;
            }
        }

        .image {
            min-width: 275px;
            flex: 1;

            img {
                width: 100%;
            }
        }

        .description {
            flex: 1;
        }

        @media (max-width: 900px) {

            margin: 0 auto 1em;

            .image,
            .description {
                flex: auto;
                width: 100%;
                padding: 1em 0;
            }
        }
    }
}
