.autocomplete-items {
    position: absolute;
    top: calc(100% + 1px);
    background: #fff;
    box-shadow: $box-shadow-1;
    left: 1px;
    right: 1px;
    z-index: 99;
    overflow: hidden;

    a {
        display: block;
        padding: 0.5em;
        width: 100%;
        text-decoration: none;
        color: inherit;
        transition: $transition-1;

        &:hover,
        &:focus,
        &.autocomplete-active {
            background: $color-grey-1;
        }
    }

    // .heading {
    //     padding: 6px 10px;
    //     line-height: 110%;
    //     background: $color-grey-2;
    //     color: rgba(0,0,0,.8);
    //     text-transform: uppercase;
    //     border-bottom: 1px solid $color-grey-2;
    //     font-weight: 500;
    // }
}
