.autocomplete-items {
    position: absolute;
    top: calc(100% + 1px);
    background: #fff;
    left: 1px;
    right: 1px;
    z-index: 99;
    overflow: hidden;

    a {
        display: block;
        padding: 0.5em;
        width: 100%;
        text-decoration: none;
        color: inherit;
        transition: $transition-1;

        &:hover,
        &:focus,
        &.autocomplete-active {
            background: $color-grey-1;
        }
    }
}
