.blog {
    margin: 0 auto;

    &.blog-layout {

        .post {

            &:first-of-type {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .summary {
                    display: block;
                }

                & > * {
                    width: 50%;
                }

                .cover {
                    order: 1;
                }

                .info {
                    padding: 2em;
                    text-align: left;
                }
            }
        }
    }

    .container {

        & > .group {
            margin: 0 -2em;
        }

    }

    .group {
        justify-content:center;

    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .post {
        width: calc(33.333% - 2em);
        margin: 1em;
        border-radius: 0.25em;
        overflow: hidden;
        background: #fff;
        transition: $transition-1;

        &:hover,
        &:focus{
            box-shadow: $box-shadow-2;
        }
    }

    .cover {
        margin: 0 auto;
        overflow: hidden;

        img {
            width: 100%;
            transition: $transition-1;
        }

    }

    .caption {
        display: none;
    }

    .info {
        padding: 1em;
    }

    .title {
        @include fs(24px);
        margin: 0;
    }

    .summary {
        @include fs(14px);
        padding-top: 1em;
    }

    @media (max-width: 768px) {

        .container > .group {
            margin: 0;
        }
        .post {
            width: calc(100% - 2em) !important;
        }

        &.blog-layout {

            .post:first-of-type {
                display: block;

                & > * {
                    width: 100%;
                }

            }
        }
    }

}
