.blog {
    
    margin: 0 auto;
    
    .container {
        
        & > .group {
            margin: 0 -2em;
        }
    
    }    
    
    .group {
        justify-content:center;
    
    } 
    
    a {
        text-decoration: none;
        color: inherit;
    }

    .post {
        width: calc(33.333% - 2em);
        margin: 1em;
        border-radius:.25em;
        overflow: hidden;
        background: #f8f8f8;
        transition: $transition-1;
        
        &:hover,
        &:focus{
            box-shadow:$box-shadow-2;
        }
    }
    
    .cover {
        margin: 0 auto;
        overflow: hidden;
        
        img {
            width: 100%;
            transition: $transition-1;
        }
        
    }

    .caption {
        display: none;
    }
    
    .info {
        padding: 1em;
    }

    .title {
        @include fs(24px);
        margin: 0;
    }
    
    .summary {
        @include fs(14px);
        padding-top: 1em;
    }
}

    #home .blog{
    
    .post {
        width: calc(33.333% - 2em) !important;
        margin: 1em !important;
        background: #f8f8f8 !important;
        transition: $transition-1 !important;
        display: block !important;
        
            & > * {
                width: 100% !important;
            }
            
            & .cover {
                order: 0 !important;
            }
            
            .info {
                padding: 1em !important;
            }
    }
    
}

@media (max-width: 768px) {
    .blog{
        
        .container > .group {
            margin: 0;
        }
        .post {
            width: calc(50% - 2em) !important;
                    
            &:first-of-type {
                display: block;
                
                & > * {
                    width: 100%;
                }

            }
        }
    }
    
    #home .blog{
        
        .post {
            width: calc(50% - 2em) !important;
        }
        
    }
}

@media (max-width: 640px) {
    .blog{
        
        .post {
            width: calc(100% - 1em) !important;
            margin: 0 .5em 1em;
        }
        
    }
    
    #home .blog{
        
        .post {
            width: calc(100% - 1em) !important;
            margin: 0 .5em 1em;
        }
        
    }
}
