$button-color: #fff;
$button-background: $color-1;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;

    &-center {
        justify-content: center;

        .button + .button {
            margin: 0 0 0 1em;
        }
    }

    &-right {
        justify-content: flex-end;
    }

}

// Reset styles for all buttons
.button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0.75em 1em;
    background: $button-background;
    color: $button-color;
    border-radius: 0.25em;
    line-height: 1;
    transition: 150ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: lighten($button-background, 10%);
        box-shadow: $box-shadow-2;
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: translateY(1px);
    }

    i + span {
        margin-left: 0.5em;
    }

    span + i {
        margin-left: 1.5em;
    }

    // Unique styles
    &-reverse {
        background: #fff;
        color: $button-background;

        &:hover,
        &:focus {
            background: #fff;
        }
    }
    &-ghost {
        background: transparent;
        color: $button-background;
        border: 1px solid $button-background;

        &:hover,
        &:focus {
            background: transparent;
            box-shadow: none;
            color: $color-2;
            border-color: $color-2
        }
    }
    
    &[disabled] {
        background: #ddd;
        color: #aaa;

        &:hover,
        &:focus {
            box-shadow: none;
        }
    }

    @media (max-width: 768px) {
        &,
        + &{
            margin: 0 1em 1em 0;
        }
    }
}
