$button-color: #fff;
$button-background: $color-1;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;

    &-center {
        justify-content: center;

        .button + .button {
            margin: 0 0 0 1em;
        }
    }

    &-right {
        justify-content: flex-end;
    }
}

// Reset styles for all buttons
.button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0.66em 1em;
    background: $button-background;
    color: $button-color;
    font-family: $font-1;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.025em;
    transition: 150ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: lighten($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: translateY(-1px);
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: 0 4px 6px rgba($button-background, 0.11), 0 1px 3px rgba($button-background, 0.08);
        transform: translateY(1px);
    }

    i + span {
        margin-left: 0.5em;
    }

    span + i {
        margin-left: 1em;
    }

    // Unique styles
    &-reverse {
        background: #fff;
        color: $button-background;

        &:hover,
        &:focus {
            background: #fff;
        }
    }
    &-ghost {
        background: transparent;
        color: $button-background;
        border: 1px solid $button-background;

        &:hover,
        &:focus {
            background: transparent;
            box-shadow: none;
            color: $color-2;
            border-color: $color-2;
        }
    }
    &-secondary {
        background: $color-2;
        color: lighten($color-0, 5%);

        &:hover,
        &:focus {
            background: darken($color-2, 10%);
            box-shadow: 0 4px 6px rgba($color-2, 0.11), 0 1px 3px rgba($color-2, 0.08);
        }
    }
    &-tertiary {
        background: $color-3;
        color: lighten($color-0, 5%);

        &:hover,
        &:focus {
            background: darken($color-3, 10%);
            box-shadow: 0 4px 6px rgba($color-3, 0.11), 0 1px 3px rgba($color-3, 0.08);
        }
    }

    &-text {
        background: none;
        color: $color-0;
        border: 3px solid $color-0;
        padding: calc(0.66em - 3px) calc(1em - 3px);

        &.button-size-small {
            padding: calc(0.44em - 3px) calc(0.66em - 3px);
        }

        &:hover,
        &:focus {
            color: #fff;
            background: $color-0;
            box-shadow: 0 4px 6px rgba($color-0, 0.11), 0 1px 3px rgba($color-0, 0.08);
        }
    }

    &-size-small {
        padding: 0.44em 0.66em;
    }

    &[disabled] {
        background: $color-grey-1;
        color: $color-0;
        cursor: default;

        &:hover,
        &:focus {
            box-shadow: none;
        }
    }

    @media (max-width: 768px) {
        &,
        + & {
            margin: 0 1em 1em 0;
        }
    }
}
