.carousel {
    user-select: none;

    .container {
        padding: 0;
    }

    .group {

    }

    .flickity-viewport {
        width: 100%;
    }

    .slide {
        user-select: none;
        width: 100%;
        position: relative;
        outline: none;

        a {
            user-select: none;
            text-decoration: none;
        }

        img {
            user-select: none;
            width: 100%;
            height: auto;
        }

        .info {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            color: #fff;
            padding: 2em;
            text-align: center;
        }

        .title {
            margin: 0;
            @include fluid('font-size', 1.75rem, 3rem);
            font-weight: 600;
        }

        .description {
            @include fluid('font-size', 1rem, 1.75rem);
            font-weight: 500;
        }

        .button {
            margin: 0.5em 0;
        }
    }
    @media (max-width: 900px) {

    }

    @media (max-width: 600px) {

    }

}
