.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.columns.column-half > * {
    width: 50%;
}

.columns.column-sidebar > *:first-of-type {
    max-width: 800px;
    width: 100%;
}

.columns.column-sidebar > *:last-of-type {
    min-width: 300px;
    width: 100%;
    margin-left: 3em;
}
