.features {

    .container {

    }

    .group {
        margin: 0 -2em;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    .item {
        text-decoration: none;
        display: block;
        color: inherit;
        position: relative;
        margin: 1em;
        width: calc(33.333% - 2em);
        background: #fff;
        border-radius: 0.25em;
        transition: $transition-1;
        overflow: hidden;

        .info {
            width: 100%;
            padding: 1em;
        }

        .title {

        }

        .description {

        }

        &:hover,
        &:focus {
            box-shadow: $box-shadow-2;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

}
