.features {

    .container {

    }

    .group {
        margin: 0 -2em;
        justify-content: center;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    .item {
        text-decoration: none;
        display: block;
        color: inherit;
        position: relative;
        margin: 1em;
        width: calc(33.333% - 2em);
        background: #fff;
        border-radius: 0.375em;
        transition: $transition-1;
        overflow: hidden;
        padding: 2em;
        box-shadow: $box-shadow-2;

        @media (max-width: 968px) {
            width: calc(50% - 2em);
        }

        .info {
            width: 100%;
        }

        .title {

        }

        .description {

        }

        .buttons {
            margin-top: 1em;
        }

        p {
            font-size: 1rem;
            line-height: 1.3;
        }

        &:hover,
        &:focus {
            box-shadow: $box-shadow-2;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

}
