/*Mobile Nav*/
.mobile-nav {
    display: none;
    padding: 0 0 6em;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 72px;
    background: $color-grey-1;
    z-index: 9999999;
    user-select: none;
    overflow-y: auto;
}

.mobile-nav.open {
    display: block;
}

.mobile-nav .container {
    padding: 0;
}

.mobile-nav ul {
    overflow: unset;
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
}

.mobile-nav li {
    position: relative;
    display: block;
}

.mobile-nav li a {
    @include fluid('font-size', 1rem, 1.75rem);
    display: block;
    padding: 1.25em;
    color: inherit;
    background: #fff;
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease 0s;
}

.mobile-nav li {
    border-top: 1px solid $color-grey-1;
}

.mobile-nav .top .trigger:last-of-type {
    border-bottom: 1px solid $color-grey-1;
}

.mobile-nav .trigger {
    display: flex;
    flex-flow: row wrap;
    background: #fff;
}

.mobile-nav .trigger a {
    position: relative;
    width: calc(100% - 3.75em);
}

.mobile-nav .trigger button {
    width: 3.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 1.6rem;
    border: none;
    border-left: 1px solid $color-grey-1;
    outline: none;
    cursor: pointer;
}

.mobile-nav .trigger .drop {
    width: 100%;
    display: none;
    max-height: 0;
    overflow: hidden;
    z-index: 9999;
    position: relative;
    background: rgba(0,0,0,.025);
    transition: max-height 0.15s ease-in-out;
}

.mobile-nav .trigger.open > .drop {
    max-height: 999px;
    display: block;
}

.mobile-nav .trigger.open > .drop a {
    background: $color-grey-1;
}

.mobile-nav .trigger.open > .drop li a {
    width: 100%;
}

.mobile-nav .trigger.open > .drop li:first-of-type a {
    border-top: 1px solid $color-grey-1;
}

.mobile-nav .trigger .drop li {
    border-left: 10px solid $color-grey-1;
}

.mobile-nav .mobile-search {
    height: 3.75em;
}

.mobile-nav .mobile-search button {
    @include fluid('font-size', 1rem, 1.75rem);
    position: absolute;
    background: none;
    cursor: pointer;
    outline: 0;
    border: 0;
    color: $color-grey-3;
    top: 0;
    right: 0;
    height: 100%;
    width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav .mobile-search input {
    @include fluid('font-size', 1rem, 1.75rem);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    background: #fff;
    outline: 0;
    width: 100%;
    padding: 1.25em;
    color: #color-0;
    font-style: italic;
    border-top: 1px solid $color-grey-3;
}

.mobile-nav .mobile-search .autocomplete-items a {
    padding: 1em;
}

.mobile-nav .mobile-closer {
    @include fluid('font-size', 1rem, 1.75rem);
    width: auto;
    height: auto;
    display: block;
    border: none;
    border: 1px solid $color-grey-1;
    margin: 10px auto 0;
    padding: 10px 20px;
    color: #color-0;
    background: #fff;
    z-index: 1000000;
}

.mobile-nav ul *:focus {
    outline: none;
    background: $color-1 !important;
}
