.pdo-loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2em auto;
    opacity: 0;
    z-index: -1;
    visibility: hidden;

    &.pdo-loading {
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

    &,
    &::after,
    &::before {
        width: 0.75em;
        height: 0.75em;
        background: #9880ff;
        border-radius: 50%;
        animation: pdo-loader 600ms infinite linear alternate;
        animation-delay: 300ms;
    }

    &::after,
    &::before {
        position: absolute;
        display: block;
        content: '';
    }

    &::before {
        left: -1.25em;
        animation-delay: 0;
    }

    &::after {
        right: -1.25em;
        animation-delay: 600ms;
    }
    @keyframes pdo-loader {
        0% {
            background-color: #9880ff;
        }

        100% {
            background-color: #ebe6ff;
        }
    }
}
