.post-meta {

}

.post-meta .meta {
    margin-bottom: 1em;
}

.post-meta .meta a {
    text-decoration: none;
}

.post-meta .meta .label {
    font-weight: 600;
    font-size: 1.25rem;
}

.post-meta .meta.author-photo img {
    max-width: 80px;
    width: 100%;
}
