/* Search Results */
p.simplesearch-results,
.simplesearch-paging {
    margin: 1em auto;
}

.simplesearch-highlight {
    font-weight: 600;
    color: $color-1;
}
.search-result {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.search-result .cover {
    max-width: 300px;
    margin-right: 1em;
}

.search-result .cover img {
    width: 100%;
}
