.search {
    position: relative;
    min-width: 200px;
    max-width: 600px;

    label {
        position: absolute !important;
        left: 0 !important;
        bottom: -1px !important;
        z-index: -1 !important;
        opacity: 0;
    }

    button {
        position: absolute;
        background: none;
        height: 100%;
        cursor: pointer;
        outline: 0;
        border: 0;
        color: $color-0;
        top: 50%;
        right: 0;
        padding: 0 10px;
        line-height: 100%;
        font-size: 1.2rem;
        transform: translateY(-50%);
    }

    input {
        @include fs(14px);
        border-radius: 3px;
        border: 1px solid #ddd;
        background: #fff;
        outline: 0;
        width: 100%;
        padding: 0.75em;
        padding-right: 3em;
        color: $color-0;
        //font-style: italic;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
