.section-heading {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    + .group {
        margin-top: 3em;
    }

    p {
        max-width: 42em;
        margin: 0 auto;
    }
}
