.sidebar {

	.sidebar_section {
		margin-bottom: 1.5em;
		padding: 1em;
		background: #fff;
		border-radius: 0.25em;

		@media (max-width: 900px) {
			background: none;
			padding: 0;
			margin-top: 1.5em;
			padding-top: 1.5em;
			border-top: 1px solid #ddd;
		}
	}

}
