.single_image {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto 1em;
    overflow: hidden;
    border-radius: 0.25em;

    img {
        width:100%;
        display: block;
    }
    
}
