.tags {

	.tag {
	    font-size: 0.875rem;
	    opacity: 0.75;
	    text-decoration: none;
	    color: inherit;
	    transition: $transition-1;

	    &:hover,
		&:focus {
			opacity: 1;
		}

		&:only-child {
		    margin: 0;
		}

		&.post-tag {
			background: rgba($color-1, 0.15);
			color: $color-1;
			padding: 0.5em;
			opacity: 1;
			border-radius: 0.25em;
			line-height: 1;
		}
	}
}
