.universal-table {
    max-width: 100%;
    width: 100%;
    margin-bottom: 1em;
    overflow: hidden;
    overflow-x: auto;
}

.universal-table table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    background: #fff;
}

.universal-table table thead tr {
    text-align: left;
}

.universal-table table tr {
    text-align: left;
}

.universal-table table th {
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 1rem;
    font-weight: bold;
}

.universal-table table td {
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 1rem;
}
