.universal-img-grid {
    margin: 1em auto;
}

.universal-img-grid .container {
    padding: 0;
}

.universal-img-grid .group {
    margin: 0 -1em;
}

.universal-img-grid .item {
    width: calc(25% - 2em);
    margin: 1em;
}

.universal-img-grid a {
    text-decoration: none;
    color: inherit;
}

.universal-img-grid .item .image {
    overflow: hidden;
}

.universal-img-grid .item img {
    width: 100%;
    transition: $transition-1;
}

.universal-img-grid a:hover img {
    transform: scale(1.08);
}

.universal-img-grid .caption {
    margin-top: 0.25em;
}

/* Sizing */
.universal-img-grid .group[data-total="2"] .item {
    width: calc(50% - 2em);
}

.universal-img-grid .group[data-total="3"] .item {
    width: calc(33.333% - 2em);
}


@media (max-width: 768px) {
    .universal-img-grid .item {
        width: calc(33.333% - 2em);
    }
}

@media (max-width: 600px) {
    .universal-img-grid .group {
        margin: 0 -1em;
    }
    .universal-img-grid .item {
        width: calc(50% - 1em);
        margin: 0.5em;
    }
    .universal-img-grid .group[data-total="2"] .item {
        width: calc(50% - 1em);
    }
    .universal-img-grid .group[data-total="3"] .item {
        width: calc(50% - 1em);
    }
}

@media (max-width: 400px) {
    .universal-img-grid .item {
        width: calc(100% - 1em);
        margin: 0.5em;
    }
    .universal-img-grid .group[data-total="2"] .item {
        width: calc(100% - 1em);
    }
    .universal-img-grid .group[data-total="3"] .item {
        width: calc(100% - 1em);
    }
}
