//Colors
$color-0: #001729;
$color-1: #005191;
$color-2: #539ed0;
$color-3: #ffb351;
$color-4: #ff443b;

$color-grey-1: #f6f9fc;
$color-grey-2: #f8f8f8;
$color-grey-3: #424242;

//Fonts
$font-0: 'Roboto', sans-serif;
$font-1: league-gothic, sans-serif;

//Box Shadow
$box-shadow-1: 0 2px 4px 0 rgba($color-0, 0.1);
$box-shadow-2: 0 4px 6px rgba($color-0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
$box-shadow-3: 0 7px 14px rgba($color-0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.08);

//Transitions
$transition-1: 185ms ease;

//Sizing
$container-width: 1500px; //Sizing of the section .container as well as .column containers
